<div class="row">
  <div class="col-lg-9">
    <%= simple_form_for([:manage, @gallery, @image]) do |f| %>
      <%= f.input :title %>
      <%= f.input :alt %>
      <%= f.input :description %>

      <%= f.submit 'Сохранить', :class => 'btn btn-primary btn-sm' %>
      <%= link_to 'Отмена', manage_gallery_path(@gallery), :class => 'btn btn-default btn-sm' %>
    <% end %>
  </div>

  <div class="col-lg-3">
    <%= render @image %>
  </div>
</div>
